<template>

  <headercomponent></headercomponent>
  <breadcumcomponent></breadcumcomponent>
  <router-view></router-view>
  <footercomponent></footercomponent>

  
</template>

<script>

import headercomponent from "./components/layouts/Header.vue";
import breadcumcomponent from "./components/layouts/Breadcum.vue";
import footercomponent from "./components/layouts/Footer.vue";

export default {
  name: "App",
  components: {
   headercomponent,
   breadcumcomponent,
   footercomponent

  }
}
</script>

<style>

</style>
